<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>医疗</title>


    <script src="./js/vue.js"></script>
    <link href="./css/allCss.css" rel="stylesheet" type="text/css"/>
    <link href="./css/icon.css" rel="stylesheet" type="text/css"/>

    <style>
        *{
            margin: 0;
            padding: 0;
        }
        body{
            width: 100%;
            height: 100%;
        }
        .liebiaoHoverNot{
            color: black;
        }
        .liebiaoHover:hover{
            background-color: #00C6A9;
            color: white;
        }
        .hover-not{
            color: #5c5a5a;
        }
        .hover-on:hover{
            color: white;
        }
        a{
            text-decoration: none;
        }
    </style>
</head>
<body>
<div style="width: 1100px;height: 700px;margin: 10px auto;border: 1px solid #00C6A9" id="app">
    <!--    头部-->
    <div class="flex back-color justify-between align-center" style="width: 100%;height: 60px;">
        <div class="flex">
<!--            <p @click="change" class="iconfont icon-caidan m-l1 hover-not hover-on"></p>-->
            <p class="iconfont icon-sousuo m-l1 hover-not hover-on"></p>
            <a href="./htmls/indexCompletionReport.html"><p>《web应用基础》课程结业报告</p></a>
        </div>
        <div CLASS="flex flex-column align-center justify-center" >
            <h3 style="color: white">医乡情缘</h3>
            <p style="color: white;font-size: 12px">YI XIANG QING YUAN</p>
        </div>
        <div class="flex hover-not hover-on">
            <p class="iconfont icon-haoyou "></p>
            <p class="m-r2" style="font-size: 14px;margin-left: 4px">登录</p>
        </div>
    </div>

<!--    主体-->
    <div class="flex " style="width: 100%;height: 560px;background-color: white">
<!--        列表-->
        <div v-show="isShow" class="flex-1 " style="background-color: #f3ebeb">
<!--            上-->
            <div class="flex align-center" style="width: 100%;height: 65%;">
                <div class="flex flex-column" style="height: 80%;width: 100%">
                    <a @click="downButton(index)"  v-for="(item,index) in allButtons" :key="index" class="flex-1 flex align-center justify-start p-l1 liebiaoHover liebiaoHoverNot" >
                        <p>{{item.name}}</p>
                    </a>
                </div>
            </div>
<!--            下-->
            <div class="flex align-center" style="width: 100%;height: 35%;border-top: 1px solid black">
                <div class="flex flex-column " style="height: 80%;width: 100%;">
                    <a  class="flex-1 flex align-center justify-start p-l1 liebiaoHover" >
                        <p class="iconfont icon-caidan m-r2"></p>
                        <p>个人中心</p>
                    </a>
                    <a  class="flex-1 flex align-center justify-start p-l1 liebiaoHover" >
                        <p class="iconfont icon-caidan m-r2"></p>
                        <p>在线服务</p>
                    </a>
                    <a  class="flex-1 flex align-center justify-start p-l1 liebiaoHover" >
                        <p class="iconfont icon-caidan m-r2"></p>
                        <p>服务热线</p>
                    </a>
                </div>
            </div>
        </div>
<!--        广告内容-->
        <div class="flex-4 flex justify-center align-center">
            <div v-show="!contentShow" style="width: 700px;height: 500px;">
                <p style="text-align: center;margin-bottom: 10px">为居住在农村的您提供便捷的医疗服务</p>
                <img src="./img/yixiangqingyuan.jpg" style="width: 100%;height: 90%;border: 1px solid black">

            </div>
            <div v-show="contentShow" class="flex align-center flex-column" style="width: 700px;height: 400px;background-color: #f1f1f1">
                <h2 style="margin-top: 20px">{{allData[indexData].title}}</h2>
                <div class="flex flex-wrap" style="width: 80%;height: 65%;background-color: #e0dfdf;margin-top: 20px">

<!--                    非大病问诊显示-->
                    <p v-if="indexData!=1" v-for="(item1,index1) in allData[indexData].list" :key="index1"  style="font-size: 18px;margin: 20px">{{item1}}</p>

<!--                    大病问诊显示-->
                    <div v-if="indexData==1" v-for="(item2,index2) in allData[indexData].list" :key="index2" class="flex m-l2 m-t2">
                        <img style="width: 70px;height: 70px;margin-right: 5px" :src="item2.url">
                        <div>
                            <p style="font-size: 16px;margin-top: 5px">{{item2.name}}</p>
                            <p style="font-size: 14px;margin-top: 15px">{{item2.do}}</p>
                        </div>
                    </div>
                </div>
                <a :href="'./htmls/page'+(indexData+1)+'.html'" style="width: 80%;text-align: right;margin-top: 20px"><p >——更多详情请展开</p></a>
            </div>
        </div>
    </div>


<!--    尾部-->
    <div class="flex flex-column justify-center align-center" style="width: 100%;height: 80px;background-color: #00C6A9">
        <div class="flex justify-between m-t2" style="width: 400px">
            <p class="hover-not hover-on" style="font-size: 15px;height: 23px;line-height: 23px">关于我们</p>
            <p class="hover-not hover-on" style="font-size: 15px;height: 23px;line-height: 23px">联系我们</p>
            <p class="hover-not hover-on" style="font-size: 15px;height: 23px;line-height: 23px">关注我们</p>
        </div>
        <p style="font-size: 8px;margin-top: 15px">"医乡情缘"工作室享有网站最终解释权</p>
    </div>


</div>
<script>

    //创建一个vue实例--与ID为root的结点进行绑定--data 是vue实例中的一些数据存放地点

    new Vue({
        el:"#app",
        data(){
            return{
                indexData:0,
                isShow:true,
                isDown:true,
                contentShow:false,
                allButtons:[
                    {
                        name:'小病自测',
                        url:"./htmls/page1.html"
                    },
                    {
                        name:'大病问诊',
                        url:"./htmls/page2.html"
                    },
                    {
                        name:'定期上门检查',
                        url:"./htmls/page3.html"
                    },
                    {
                        name:'紧急送药',
                        url:"./htmls/page4.html"
                    },
                    {
                        name:'心理健康调查与疏导',
                        url:"./htmls/page5.html"
                    },
                    {
                        name:'老人与儿童关怀服务',
                        url:"./htmls/page6.html"
                    }],
                allData:[
                    {
                        title:'小病自测',
                        list:["全身症状","头颈部症状","胸部症状","腹部症状","四肢症状","皮肤症状","分泌排泄症状","两性症状","其他症状"]
                    },
                    {
                        title:'大病问诊',
                        list:[
                            {
                                url:"./img/the1.jpg",
                                name:"王医生（乡医）",
                                do:"擅长：外科常见疾病"
                            },
                            {
                                url:"./img/the2.jpg",
                                name:"李医生（乡医）",
                                do:"擅长：外科手术"
                            },
                            {
                                url:"./img/the3.jpg",
                                name:"周医生（乡医）",
                                do:"擅长：外科常见疾病"
                            }
                        ]
                    },
                    {
                        title:'定期上门检查',
                        list:["可预约项目","测血压","针灸按摩","保健","康复训练"]
                    },
                    {
                        title:'紧急送药',
                        list:["非处方药","感冒用药","妇科用药","抗菌消炎","男科用药","儿童用药","消化系统","呼吸系统","皮肤用药"]
                    },
                    {
                        title:'心理健康调查与疏导',
                        list:["测试项目一","测试项目二","测试项目三"]
                    },
                    {
                        title:'老人儿童关怀服务',
                        list:["可预约项目","上门理发","上门按摩"]
                    },

                ],

            }
        },
        methods:{
            change(){
                this.isShow = !this.isShow;
            },
            downButton(index){
                // if(!this.isDown) return;
                // this.isDown = false;

                this.indexData = index;
                this.contentShow = true;
                // setTimeout(()=>{
                //     this.contentShow = false;
                //     this.isDown = true;
                // },3000)
                console.log(this.indexData);
            }
        }

    })

</script>
<!--    <div v-for="i in 10" style="width: 100px;height: 100px;background-color: red"></div>-->
</body>
</html>
