<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>大病问诊</title>

    <script src="../js/vue.js"></script>
    <link href="../css/allCss.css" rel="stylesheet" type="text/css"/>
    <link href="../css/icon.css" rel="stylesheet" type="text/css"/>

    <style>
        *{
            margin: 0;
            padding: 0;
        }
        body{
            width: 100%;
            height: 100%;
        }
        .hover-not{
            color: #5c5a5a;
        }
        .hover-on:hover{
            color: #f80000;
        }
        a{
            text-decoration: none;
        }
    </style>

</head>
<body>
<div id="app" style="width: 800px;height: 700px;margin: 10px auto;border: 1px solid #00C6A9;">
    <!--    头部-->
    <div class="flex back-color" style="width: 100%;height: 100px;">
        <img src="../img/yixiangqingyuan.jpg" class="m-t2 m-l2" style="width: 55px;height: 55px;border: 1px solid black">
        <div class="flex flex-column" style="width: 88%">
            <div class="flex justify-between m-t2 m-l1" style="width: 100%;">
                <h3>疾病问诊</h3>
                <div class="flex">
                    <p class="iconfont icon-dizhi"></p>
                    <p class="hover-on">你的位置</p>
                    <p class="iconfont icon-zhifubao m-l1"></p>
                    <p class="hover-on" style="margin-left: 3px">账号</p>
                </div>
            </div>
            <p class="m-t1 m-l2" style="font-size: 17px">请选择你要联系的医生，并选择服务类型进行付费</p>
        </div>
    </div>

<!--主体-->
    <div class="flex flex-wrap" style="width: 100%;height: 550px;">
        <div v-for="(item,index) in list" :key="index" class="flex flex-column justify-center align-start m-t1 m-l2" style="width: 46%;height: 250px;background-color: #b8eee3;margin-right: 1%">
            <div class="flex m-l2 m-b2">
                <img :src="item.url" style="width: 50px;height: 50px">
                <div class="flex flex-column justify-center">
                    <p class="m-l1">{{item.name}}</p>
                    <p class="m-l1">{{item.mainDo}}</p>
                </div>
            </div>
            <p class="m-l1 m-b1">简介：{{item.jianjie}}</p>
            <p class="m-l1 m-b1">服务类型</p>
            <p @click="openShow(index)" class="m-l2 m-b1 p-l1" style="font-size: 14px;line-height: 20px;width: 320px;border: 1px solid black;background-color: white">{{item.style1}}</p>
            <p @click="openShowShipin(index)" class="m-l2 p-l1" style="font-size: 14px;line-height: 20px;width: 280px;border: 1px solid black;background-color: white">{{item.style2}}</p>
        </div>

        <p style="font-size: 17px;line-height: 20px;text-align: center;width: 100%">更多医生正在加入......</p>
    </div>

<!--    尾部-->
    <div class="flex align-center back-color" style="width: 100%;height: 50px;">
        <div class="flex m-l3" style="width: 100%">
            <div class="flex-1 ">
                <p class="hover-on" style="width: 70px">关于我们</p>
            </div>
            <div class="flex-1 ">
                <p class="hover-on" style="width: 80px">投诉与建议</p>
            </div>
            <div class="flex-1 ">
                <p class="hover-on" style="width: 80px">合作与联系</p>
            </div>
        </div>
        <a href="../index.html"><button style="width: 60px;margin-right: 10px">返回</button></a>
    </div>

    <!--对话框-->
    <div v-if="isShowShipin || isShowMsg" class="flex align-center justify-center" style="position: fixed;top: 100px;width: 800px;">
        <div v-show="isShowMsg" style="width: 600px;height: 500px;background-color: #cad9d9">
            <div class="flex justify-center align-center" style="width: 100%;height: 60px;background-color: #0dbaee">
                <h3>{{talkWith}}</h3>
            </div>
            <!--        消息显示-->
            <div class="flex flex-column align-center" style="margin: 20px auto;width: 560px;height: 380px;overflow:scroll;white-space: nowrap;">
                <div class="flex" style="width: 100%;">
                    <img src="../img/the1.jpg" style="width: 50px;height: 50px;margin-top: 10px;margin-left: 10px">
                    <textarea v-model="resultText" disabled style="resize: none;border: none;margin-top: 10px;margin-left: 5px;width: 200px;height: auto;
                padding: 10px;font-size: 15px;background-color: white"></textarea>
                </div>

                <div v-for="(item1,index1) in talkList" :key="index1" class="flex justify-end" style="width: 100%;">

                <textarea v-model="item1.msg" disabled style="resize: none;border: none;margin-top: 10px;margin-right: 5px;width: 200px;
                height: auto;padding: 10px;font-size: 15px;background-color: white"></textarea>
                    <img src="../img/the1.jpg" style="width: 50px;height: 50px;margin-top: 10px;margin-right: 10px">
                </div>
            </div>
            <!--        输入框-->
            <div class="flex" style="width: 100%;height: 50px;background-color: #0dbaee">
                <input v-model="valueText" style="width: 100%;;height: 35px;padding-left: 10px" type="text">
                <button @click="sendMsg" style="width: 130px;height: 40px;font-size: 20px">发送</button>
            </div>
            <div class="flex justify-center align-center" style="width: 100%;height: 60px;background-color: #0dbaee">
                <button @click="closeShow" style="width: 130px;height: 40px;font-size: 20px">结束问诊</button>
            </div>
        </div>

        <div v-show="isShowShipin" style="width: 600px;height: 500px;background-color: #cad9d9">
            <div class="flex justify-center align-center" style="width: 100%;height: 60px;background-color: #0dbaee">
                <h3>{{talkWith}}</h3>
            </div>
            <!--        消息显示-->
            <div class="flex flex-column align-center" style="margin: 20px auto;width: 560px;height: 380px;background-color: #007bff">

            </div>
            <!--        输入框-->

            <div class="flex justify-between align-center" style="width: 100%;height: 60px;background-color: #0dbaee">
                <button class="m-l10" @click="call" style="width: 130px;height: 40px;font-size: 20px">视频呼叫</button>
                <button class="m-r10" @click="closeShowShipin" style="width: 130px;height: 40px;font-size: 20px">结束视频</button>
            </div>
        </div>
    </div>

</div>


<script>

    //创建一个vue实例--与ID为root的结点进行绑定--data 是vue实例中的一些数据存放地点

    new Vue({
        el:"#app",
        data(){
            return{
                isShowMsg:false,
                isShowShipin:false,
                valueText:'',
                resultText:'请问你想要咨询什么？',
                requestText:'我想问一下',
                talkWith:'王医生',
                talkList:[
                    {
                        msg:'我想问一下'
                    }
                ],
                list:[
                    {
                        url:"../img/the1.jpg",
                        name:"王医生（乡医）",
                        mainDo:"擅长：外科常见疾病",
                        jianjie:"",
                        style1:"图文问诊（首次免费，3元/次，每次20条对话）",
                        style2:"视频问诊（5元/次，每次不超过10分钟）"
                    },
                    {
                        url:"../img/the2.jpg",
                        name:"李医生（乡医）",
                        mainDo:"擅长：外科常见疾病",
                        jianjie:"",
                        style1:"图文问诊（首次免费，3元/次，每次20条对话）",
                        style2:"视频问诊（5元/次，每次不超过10分钟）"
                    },
                    {
                        url:"../img/the3.jpg",
                        name:"陈医生（乡医）",
                        mainDo:"擅长：外科常见疾病",
                        jianjie:"",
                        style1:"图文问诊（首次免费，3元/次，每次20条对话）",
                        style2:"视频问诊（5元/次，每次不超过10分钟）"
                    },
                    {
                        url:"../img/the4.jpg",
                        name:"周医生（乡医）",
                        mainDo:"擅长：外科常见疾病",
                        jianjie:"",
                        style1:"图文问诊（首次免费，3元/次，每次20条对话）",
                        style2:"视频问诊（5元/次，每次不超过10分钟）"
                    },

                ]
            }
        },
        methods:{
            closeShow(){
                this.isShowMsg = false
            },
            closeShowShipin(){
                this.isShowShipin = false
            },
            openShow(index){
                this.talkWith = this.list[index].name
                this.isShowMsg = true
            },
            openShowShipin(index){
                this.talkWith = this.list[index].name
                this.isShowShipin = true
            },
            call(){

            },
            sendMsg(){
                if (this.valueText == '') return;
                let item = {}
                item.msg = this.valueText
                this.talkList.push(item)
                this.valueText = '';
            }
        }

    })

</script>
</body>
</html>
